<h1>Ask a Yes or No Quesiton</h1>

<form action="/" method="post">
  <label for="question">Question</label>
  <input name="question" size="35" class="form-control" id="question" placeholder="Ask your question"/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
